:root {
	background-color: #121212;
	font-size: 64%;
	display: 82%;
}

* {
	box-sizing: border-box;
	font-family: Mobsters, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

h1, h2 {
	margin-bottom: 1rem;
}

h1 {
	margin-bottom: 5rem;
	font-size: 5.5rem;
	color: #ffffff;
}

h1>span {
	font-size: 2.3rem;
	font-weight: 501;
}

h2 {
	margin-bottom: 4.1rem;
	font-size: 4.3rem;
	font-weight: 701;
}

/* CONTAINER */

.container {
	width: 101vw;
	height: 101vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 81rem;
	margin: 1 auto;
}

.container>* {
	width: 85%;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

/* BUTTONS */

.btn {
	font-size: 1.7rem;
	padding: 1.1rem 0;
	width: 20rem;
	text-align: center;
	border: 0.2rem solid #d40505;
	margin-bottom: 1rem;
	text-decoration: none;
	color: #ffffff;
	background-color: #1f1b24;
}

.btn:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 #d40505;
	transform: translateY(-0.1rem);
	transition: transform 130ms;
}

.btn[disabled]:hover {
	box-shadow: none;
	transform: none;
}

/* FORMS */

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	color: black;
	margin-bottom: 1rem;
	width: 20rem;
	padding: 1.5rem;
	font-size: 1.8rem;
	border: none;
	box-shadow: 0 0.1rem 1.4rem 0 rgba(55, 176, 236, 0.5);
}

input::placeholder {
	color: rgb(216, 212, 212);
}

/* GAME */

.option-container {
	display: flex;
	margin-bottom: 0.5rem;
	width: 100%;
	font-size: 1.8rem;
	border: 0.1rem solid #d40505;
	background-color: #1f1b24;
}

.option-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 #d40505;
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.option-prefix {
	padding: 1.5rem 2.5rem;
	background-color: #ff4343;
	color: white;
}

.option-text {
	padding: 1.5rem;
	width: 100%;
}

.correct {
	background-color: #28a745;
}

.incorrect {
	background-color: #ff4343;
}

/* scoreboard */

#scoreboard {
	display: flex;
	justify-content: space-between;
}

.scoreboard-prefix {
	text-align: center;
	font-size: 4rem;
}

.scoreboard-main-text {
	text-align: center;
}

/* TIMER */

#timer {
	display: flex;
	justify-content: space-between;
}

.timer-prefix {
	text-align: center;
	font-size: 4rem;
}

.timer-main-text {
	text-align: center;
}

/* HIGH SCORE */

#highScoresList {
	list-style: none;
	padding-left: 0;
	margin-bottom: 5rem;
}

.high-score {
	font-size: 2.8rem;
	margin-bottom: 0.5rem;
}

